
.banner {
  position: relative;
  height: 274px;
  overflow: hidden;
  isolation: isolate;
  .bg {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    object-fit: cover;
    filter: blur(20px);
  }
  .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 56px 16px 16px 16px;
    display: flex;
    .pic {
      width: 152px;
      padding: 16px;
      flex: none;
    }
    .info {
      padding: 16px 0;
      overflow: hidden;
      flex: auto;
      [class~=ant-typography] {
        color: #fff;
        font-weight: normal;
        text-shadow: 1px 1px 3px #000;
        // mix-blend-mode: difference;
      }
    }
  }
}

.gallery {
  margin-top: 16px;
}